services:
  rest:
    image: tabulario/iceberg-rest:0.10.0
    container_name: iceberg-rest
    ports:
      - "8181:8181"
    depends_on:
      minio:
        condition: service_started
      postgres-iceberg:
        condition: service_healthy
    environment:
      - CATALOG_WAREHOUSE=s3://warehouse/
      - CATALOG_IO__IMPL=org.apache.iceberg.aws.s3.S3FileIO
      - CATALOG_S3_ENDPOINT=http://minio:9000
      - CATALOG_S3_PATH__STYLE__ACCESS=true
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
      - CATALOG_CATALOG__IMPL=org.apache.iceberg.jdbc.JdbcCatalog
      - CATALOG_URI=jdbc:postgresql://postgres-iceberg:5432/iceberg
      - CATALOG_JDBC_USER=admin
      - CATALOG_JDBC_PASSWORD=password
      - CATALOG_JDBC_INIT__CATALOG__TABLES=true
  
  postgres-iceberg:
    image: postgres:15-alpine
    container_name: postgres-iceberg
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=iceberg
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d iceberg"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    ports:
      - "9001:9001"
      - "9000:9000"
    command: ["server", "/data", "--console-address", ":9001"]
    volumes:
      - ./data/minio:/data

  spark-iceberg:
    image: tabulario/spark-iceberg
    container_name: spark-iceberg
    depends_on:
      - rest
      - minio
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
    ports:
      - "8888:8888" # Jupyter Notebook
      - "8080:8080" # Spark UI
    volumes:
      - ./notebooks:/home/iceberg/notebooks
      - ./spark-defaults.conf:/opt/spark/conf/spark-defaults.conf